<!DOCTYPE html>
{% load staticfiles %}
{% load services_extras %}
<html lang="en">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content="width = device-width, initial scale = 1">
	<meta name = "description" content="Online quizzing platform to play quiz and grow your knowledge, challenge your friends and beating them... ">
 	<title>Quizathon &nbsp; | &nbsp; Beat 'em all</title>
 	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
 	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
 	<script src = "{% static 'js/jquery.min.js'%}"></script>
 	<script scr = "{% static 'js/bootstrap.js' %}"></script>
 	<script src = "{% static 'js/custom.js' %}"></script>

</head>
<body>

</body>
</html>